header{
    background-color: rgba(0, 0, 0, .4); 
    min-height: 75px; 
    display: flex;
    justify-content: space-between;
    color: #fff;
	text-shadow: 0 0 3px #000;
	width: 100%;
	position: fixed;
	z-index: 1;
}
header h3{
	font-size: 2.6em;
}
nav{ 
	display: flex; 
	margin: 18px; 
	font-size: 1.2em;  
}
.mobNav{ 
    display: none;
	border: 2px solid white;
	padding: 13px 19px 2px 19px; 
	margin: 18px 10px; 
	font-weight: bold;
	font-size: 1.1em;
	border-radius: 10px; 
	height: 30px;
}
.mobNav:hover{ 
    cursor: pointer;
    background-color: rgb(38, 163, 0); 
}
.mobNav_active{  
	background-color: green;
	height: 55px;
	border: none; 
    padding: 22px 19px 0 19px; 
}
.mobNav_active::after{  
    content: "v"; 
    left: 12px;
    bottom: -17px;
    position: relative;
    background-color: white;
    border-radius: 50%;
    padding: 0 8px;
    color: green;
    text-shadow: none;
    font-weight: bold;
    box-shadow: 0 0 3px rgb(0, 80, 17);
}
nav a{  
    padding: 13px 17px; 
	display: block;
	text-align: center;
}
#ddNav{ 
    display: none;
	position: absolute;
	width: 100%;
	background-color: green;
	right: 0;
	top: 85px;  
}
.mobNav_active #ddNav{
    display: block;
}
#ddNav nav{
	display: block;
	float: none; 
	margin: 0;
}
#ddNav nav a{
	border-bottom: 1px solid rgb(57, 221, 7); 
	padding: 25px;
	text-align: left; 
	padding-left: 40px; 
	border-left: 5px solid green;
}
#ddNav nav a:hover{
	background-color: rgb(38, 163, 0); 
	padding-left: 50px;  
}