html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none; 
	color: inherit; 
	font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;  
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBAL */
.App{
  background-image: url("../images/background.jpeg");
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 40px;
}
.container{  
	width: 100%; 
	max-width: 1000px; 
	margin: 0 auto; 
	display: flex; 
	justify-content: space-between; 
	height: 100%; 
	align-items: center;
}
h3{ 
	font-family: 'Pacifico', cursive;
    font-size: 2.8em; 
    margin: 18px;
}
.btnGroup{
	display: flex;
	width: 80%;  
	margin: 0 auto;
	max-width: 600px;  
	justify-content: space-between;
	clear: both;
}
.btn{
	width: 60%;
	max-width: 180px;
	padding: 14px 10px 12px 10px;
	color: #fff;
	background-color: green;
	border-radius: 10px;
	margin: 15px auto;
	font-size: 1.1em;
	display: block;
	cursor: pointer; 
	border: none;
	text-align: center;
	font-weight: bold;
}
.btnGroup .btn{  
	font-size: .8em;
	margin: 5px; 
	padding: 14px 8px 10px 8px;
	width: 100%;
}
.btn_blue{
	background-color: rgb(0, 81, 255);
}
.btn_red{
	background-color: rgb(148, 0, 12);
}
.btn:hover{
	background-color: gray;
}

/* MAIN CONTENT */
.center{
	display: flex;
	align-items: center;
	justify-content: center;  
	min-height: 85vh;
	
}
.mainContent{
	background-color: #fff;
	width: 80%; 
	max-width: 800px;
	min-width: 400px;
	border-radius: 25px; 
	padding-bottom: 20px; 
	margin-top: 120px;  
	box-shadow: 0 0 1px #000;
	animation: fadeIn 1s;  
}
.mainContent h3{
	color: #999;
	padding: 15px 10px;
}
.mainContent #searchBox, .textBlock{
	width: 85%;
	margin: 55px auto; 
	padding: 20px;  
	display: block;
	font-size: 1.3em;
}

/* results */
.recResults{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap; 
}
.recipeCard{
	width: 46%;
	box-shadow: 0 0 1px #999, inset 0 0 30px #fff;
	margin-bottom: 20px; 
	position: relative;
	min-height: 100px;
	margin-top: 60px;
	background-color: #f1f1f1;
}
.isSaved{
	border: 1px solid green; 
}
.isSaved:after{
	content: "Saved";
	color: #fff;
	background-color: #c1c1c1;
	position: absolute;
	top: 10px; 
	right: 10px; 
	border-radius: 5px;
	padding: 4px 10px 4px 8px;
	font-style: italic;
	text-shadow: 1px 1px 3px gray;
}
.recipeCard .title{ 
	font-weight: bold;
	margin-top: 75px;
	text-align: center;
	margin-bottom: 15px; 
	font-size: 1.2em;  
	padding: 14px 0; 
	color: #666;
}
.imgCont{
	position: absolute;
	left: 50%;
	top: -69px;
}
.recipeCard img{
	width: 120px;  
	height: 120px; 
	border-radius: 50%;
	border: 5px solid #fff;
	box-shadow: 0 0 3px #000;  
	margin-left: -50%;
}

/* View Recipe */ 
.viewRecipe img{ 
	float: left; 
	margin: 0px; 
	width: 28%;
	border-radius: 10px;
	margin: 1%;
}
.viewRecipe h1{ 
	font-size: 1.5em; 
	font-weight: bold;   
	float: left; 
	background-color: #666;
	color: #fff;
	padding: 10px 20px; 
	letter-spacing: .1em;
	margin-top: 8px;
}
.viewRecipe ul{
	border-left: 5px solid #666;
	display: block;
	float: left; 
	width: 67%;   
	margin-bottom: 25px;
}
.viewRecipe li{ 
	margin: 10px 0;
	padding: 6px 6px 6px 12px;
	line-height: 1.9em;   
}
.viewRecipe li:nth-child(even){ 
	background-color: #f1f1f1;   
}
.slideIn{
	animation: fadeIn .1s;
}
/* Animations */
@keyframes fadeIn{
	from { opacity: 0;}
	to { opacity: 1;}
}
@keyframes slideIn{
	from { height: 0;}
	to { height: auto;}
} 
@media only screen and (max-width: 880px)  {
	header nav{ display: none; } 
	header #ddNav nav{ display: block;} 
	header .mobNav{ display: block; }
}
@media only screen and (max-width: 800px)  {
	.recipeCard{ width: 90%; } 
	.mainContent h3{ text-align: center; margin-bottom: 25px; }
	.mainContent #searchBox{ padding: 10px; margin: 30px auto; }
	.viewRecipe img{width: 100%; border-radius: 0; margin: 0 0 15px 0; }
	.viewRecipe ul{ width: 98%;}
	.btnGroup{ width: 99%; }
	.btnGroup .btn{ width: 100%; }
}
@media only screen and (max-width: 500px)  {
	.mainContent{ width: 100%; border-radius: 0; }
}

