#shoppingList ol{ 
    border-bottom: 2px solid #f1f1f1; 
    margin-bottom: 30px;
}
#shoppingList li{
    padding: 5px 15px; 
    display: flex; 
    min-height: 65px;
} 
#shoppingList li p{
    width: 80%;
    align-self: center;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.4em;
}
#shoppingList .got{
    text-decoration: line-through;
    color: #d2d2d2;
    font-style: italic;
}
#shoppingList li:nth-child(odd){ 
    background-color: #f1f1f1;
} 
#shoppingList li:hover{
    background-color: rgb(185, 185, 185);
}
#shoppingList li .btn{
    margin: 10px 10px 0 0; 
    font-size: .8em;
    width: auto;
    display: none;
    height: 47px; 
}
#shoppingList li:hover .btn{
    display: block;
}